{{ customer }},<br /><br />

In order to ensure that you receive all pertinent account notifications, please confirm your email address.<br /><br />

<a href="{{ link }}">Click here to verify your email address</a>.<br /><br />

If you're having trouble clicking the link, please copy and paste the link below into your web browser.<br /><br />

{{ link }}<br /><br />
<br />
Best regards.
